<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
    <style>
        td{
            padding: 1em;
            margin: 0 auto;
        }

        div{
            width: 100px;
            height: 100px;
            background-color: black;
        }
    </style>-->





</head>
<body  ><!--onload="showMessage()" when we use promt in js file-->



        <p id="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, atque est magnam natus necessitatibus quae quibusdam voluptatibus. Architecto culpa dicta, eum in libero, mollitia necessitatibus reprehenderit similique soluta vel veniam!</p>
        <button id="btn">click me...</button>
<br>
<br>
<br>


        <input type="text" id="fname">
        <input type="text" id="lname">
<br>
<br>
<br>


        <button id="btn2">click me...</button>

<br>
<br>
<br>

        <a  id="link" href="google.se" target="_top" hreflang="sve"></a>
        <button id="btn3">click me...</button>


<br>
<br>
<br>






<!--button id="btn">click me</button>
<p id="paragraph">hello world</p-->


<!--input type="text" id="fname">
<input type="text" id="lname">
<button type="button" id="btn">Submit</button-->

<!--
<a id="myLink" href="www.google.se" target="_blank" hreflang="sv" ></a>
<button id="submit">Or click me!</button>

-->


<!--
<table id="table">
    <tr><td>1</td><td>11</td></tr>
    <tr><td>2</td><td>22</td></tr>
    <tr><td>3</td><td>33</td></tr>
    <tr><td>4</td><td>44</td></tr>
</table>

<button id="submit">Insert row</button>
<button id="remove">Remove row</button>
-->


<script src="../scripts/index.js"></script>

</body>
</html>

